{% autoescape 'js' %}
	<script>

        var news_obj = [];

        function tableEntry(id, news_id, title, type, time) {
            return `
                <tr id="c-${id}" data-id="${id}" data-news_id="${news_id}">
					<td>
						<div class="ui checkbox">
							<input type="checkbox" name="cron[]" value="${id}">
						</div>
					</td>
					<td>${id}</td>
					<td data-name="title">${title}</td>
					<td data-name="type">${type}</td>
					<td data-name="time">${time}</td>
					<td class="right aligned">
						<div class='ui buttons'>
								<a class='ui item' href="{{ dle_config.http_home_url }}{{ dle_config.admin_path }}?mod=editnews&action=editnews&id=${news_id}" target="_blank">
									<i class="fa-duotone fa-pen-to-square"></i> {% trans %}Редактировать новость{% endtrans %}
								</a>
								<a class='ui item' href="{{ dle_config.http_home_url }}index.php?newsid=${news_id}" target="_blank">
									<i class="fa-duotone fa-pen-to-square"></i> {% trans %}Открыть на сайте{% endtrans %}
								</a>
								<a data-action='change' class='ui item act_btn' data-id='${id}'>
									<i class="fa-duotone fa-timer"></i> {% trans %}Изменить дату{% endtrans %}
								</a>
								<a data-action='send' class='ui item act_btn' data-id='${id}'>
									<i class="fa-duotone fa-eye"></i> {% trans %}Отправить в телеграм{% endtrans %}
								</a>
								<a data-action='delete' class='ui item act_btn' data-id='${id}'>
									<i class="fa-duotone fa-trash-can"></i> {% trans %}Удалить{% endtrans %}
								</a>
						</div>
					</td>
				</tr>
            `
        }

        function prepareNews(selected = 0) {

            let obj = [];

            for (let i = 0, max = news_obj.length; i < max; i++) {
                let _el = news_obj[i], _sel = (selected == _el.id) ? ' selected' : '';

                obj.push(`<option value="${_el.id}" ${_sel}>#${_el.id}: ${_el.title}</option>`)
            }

            return obj.join('\n')

        }

        function cronForm(time, type = 'addnews', news_id = 0, id = 0) {
            const regex = /(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2}):(\d{2})/gm;

            let
                time_regex = regex.exec(time),
                id_field = (id !== 0) ? `<input type="hidden" name="form_id" id="form_id" value="${id}">` : '',
                new_time = ''
            ;

            if (time_regex === null) {
                if (time === null || time === '') time = new Date().getTime();
                const date = new Date(time);
                new_time = date.getFullYear() + '-' + (date.getMonth() + 1).toString().padStart(2, '0') + '-' + date.getDate().toString().padStart(2, '0') + 'T' + date.getHours().toString().padStart(2, '0') + ':' + date.getMinutes().toString().padStart(2, '0') + ':' + date.getSeconds().toString().padStart(2, '0');
            } else {
                new_time = (time_regex.length > 1) ? `${time_regex[1]}-${time_regex[2]}-${time_regex[3]}T${time_regex[4]}:${time_regex[5]}:${time_regex[6]}` : '';
            }

            return '<div class="ui form">' +
                '<div class="field">\n' +
                '<label for="new_news">{% trans %}Новость{% endtrans %}</label>\n' +
                '<select id="new_news" name="new_news" class="ui dropdown" required>\n' +
                prepareNews(news_id) +
                '</select>' +
                '<label for="new_type">{% trans %}Тип{% endtrans %}</label>\n' +
                '<select id="new_type" name="new_type" class="ui dropdown" required>\n' +
                '<option value="addnews" ' + ((type === 'addnews') ? 'selected' : '') + '>Как новую новость</option>' +
                '<option value="editnews" ' + ((type === 'editnews') ? 'selected' : '') + '>Как отредактированную новость</option>' +
                '</select>' +
                '</div>' +
                '<div class="field">\n' +
                '<label for="new_time">{% trans %}Время{% endtrans %}</label>\n' +
                '<input type="datetime-local" name="new_time" id="new_time" value="' + new_time + '" required>\n' +
                '</div>' +
                id_field +
                '</div>';

        }

        function getNews() {
            startLoading();
            $.ajax({
                url: 'engine/ajax/controller.php?mod=maharder',
                data: {
                    user_hash: '{{ dle_login_hash }}',
                    module: 'telegram',
                    file: 'master',
                    method: 'get_news',
                },
                type: 'POST',
                success: function (data) {

                    try {
                        data = JSON.parse(data);
                    } catch (e) {
                        if (typeof (data) != 'object') {
                            console.log(data);
                            $('body')
                                .toast({
                                    displayTime: 'auto',
                                    showProgress: 'bottom',
                                    classProgress: 'blue',
                                    class: 'error',
                                    message: 'Ошибка при парсинге новостей! Подробности в консоли!'
                                })
                            ;
                        }
                    }

                    news_obj = data.news;

                    hideLoading('');
                }
            });
        }

        $(() => {
            $(document).on('click', '.act_btn', function () {
                const
                    parent = $(this).parents('tr'),
                    id = $(parent).data('id'),
                    news_id = $(parent).data('news_id'),
                    title = $(parent).find('[data-name="title"]').html(),
                    type = $(parent).find('[data-name="type"]').html(),
                    time = $(parent).find('[data-name="time"]').html(),
                    action = $(this).data('action');

                startLoading();

                switch (action) {
                    case 'new':
                        getNews();
                        $.confirm({
                            title: '{% trans %}Добавить новость{% endtrans %}',
                            theme: 'supervan',
                            useBootstrap: false,
                            content: cronForm(new Date().getTime()),
                            buttons: {
                                spreichern: {
                                    text: 'Сохранить',
                                    btnClass: 'ui button green',
                                    keys: ['enter'],
                                    action: function () {
                                        let new_news = $('#new_news').val(), new_time = $('#new_time').val(),
                                            new_type = $('#new_type').val();
                                        $.ajax({
                                            url: 'engine/ajax/controller.php?mod=maharder',
                                            data: {
                                                user_hash: '{{ dle_login_hash }}',
                                                module: 'telegram',
                                                file: 'master',
                                                method: 'cron_new_entry',
                                                data: {
                                                    news_id: new_news,
                                                    time: new_time,
                                                    type: new_type,
                                                }
                                            },
                                            type: 'POST',
                                            success: function (data) {
                                                try {
                                                    data = JSON.parse(data);
                                                } catch (e) {
                                                    if (typeof (data) != 'object') {
                                                        console.log(data);
                                                        $('body')
                                                            .toast({
                                                                displayTime: 'auto',
                                                                showProgress: 'bottom',
                                                                classProgress: 'white',
                                                                class: 'error',
                                                                message: 'Произошла ошибка при обработке данных! Смотрите консоль браузера для подробностей!'
                                                            })
                                                        ;
                                                    }
                                                }
                                                console.log(data);
                                                $('[data-id="cron_data"]').append(tableEntry(data.cron_id, data.news_id, data.title, data.type, data.time));
                                                $('body')
                                                    .toast({
                                                        displayTime: 'auto',
                                                        showProgress: 'bottom',
                                                        classProgress: 'white',
                                                        class: 'success',
                                                        message: 'Страна была успешно добавлена!'
                                                    })
                                                ;
                                            }
                                        });
                                        hideLoading();
                                    }
                                },
                                abbrechen: {
                                    text: 'Отмена',
                                    btnClass: 'ui button red',
                                    keys: ['esc'],
                                    action: function () {
                                        hideLoading();
                                    }
                                },
                            }
                        });
                        break;

                    case 'change':
                        $.confirm({
                            title: '{% trans %}Изменить: {% endtrans %}' + title,
                            theme: 'supervan',
                            useBootstrap: false,
                            content: cronForm(time, type, news_id, id),
                            buttons: {
                                spreichern: {
                                    text: 'Сохранить',
                                    btnClass: 'ui button green',
                                    keys: ['enter'],
                                    action: function () {
                                        let new_news = $('#new_news').val(), new_time = $('#new_time').val(),
                                            new_type = $('#new_type').val(), id = $('#form_id').val();
                                        $.ajax({
                                            url: 'engine/ajax/controller.php?mod=maharder',
                                            data: {
                                                user_hash: '{{ dle_login_hash }}',
                                                module: 'telegram',
                                                file: 'master',
                                                method: 'save_cron_data',
                                                data: {
                                                    news_id: new_news,
                                                    time: new_time,
                                                    type: new_type,
                                                    cron_id: id
                                                }
                                            },
                                            type: 'POST',
                                            success: function (data) {
                                                try {
                                                    data = JSON.parse(data);
                                                } catch (e) {
                                                    if (typeof (data) != 'object') {
                                                        console.log(data);
                                                        $('body')
                                                            .toast({
                                                                displayTime: 'auto',
                                                                showProgress: 'bottom',
                                                                classProgress: 'white',
                                                                class: 'error',
                                                                message: 'Произошла ошибка при обработке данных! Смотрите консоль браузера для подробностей!'
                                                            })
                                                        ;
                                                    }
                                                }

                                                let
                                                    entry = $(document).find('#c-' + id).first(),
                                                    title = $(entry).find('[data-name="title"]').first(),
                                                    type = $(entry).find('[data-name="type"]').first(),
                                                    time = $(entry).find('[data-name="time"]').first()
                                                ;

                                                $(title).html(`#${data.data.news_id}: ${data.data.title}`);
                                                $(type).html(data.data.type);
                                                $(time).html(data.data.time);
                                                $('body')
                                                    .toast({
                                                        displayTime: 'auto',
                                                        showProgress: 'top',
                                                        classProgress: 'white',
                                                        class: 'success',
                                                        message: 'Отправление было успешно изменено!'
                                                    })
                                                ;
                                            }
                                        });

                                        hideLoading();
                                    }
                                },
                                abbrechen: {
                                    text: 'Отмена',
                                    btnClass: 'ui button red',
                                    keys: ['esc'],
                                    action: function () {
                                        hideLoading();
                                    }
                                },
                            }
                        });
                        break;

                    case 'delete':
                        $.confirm({
                            title: '{% trans %}Удалить: {% endtrans %}' + title,
                            theme: 'supervan',
                            useBootstrap: false,
                            content: "После удаления, данные будет не возможно вернуть!",
                            buttons: {
                                delete: {
                                    text: 'Удалить',
                                    btnClass: 'ui button green',
                                    keys: ['enter'],
                                    action: function () {
                                        $.ajax({
                                            url: 'engine/ajax/controller.php?mod=maharder',
                                            data: {
                                                user_hash: '{{ dle_login_hash }}',
                                                module: 'telegram',
                                                file: 'master',
                                                method: 'delete_cron_data',
                                                data: {
                                                    cron_id: id
                                                }
                                            },
                                            type: 'POST',
                                            success: function (data) {
                                                try {
                                                    data = JSON.parse(data);
                                                } catch (e) {
                                                    if (typeof (data) != 'object') {
                                                        console.log(data);
                                                        $('body')
                                                            .toast({
                                                                displayTime: 'auto',
                                                                showProgress: 'bottom',
                                                                classProgress: 'white',
                                                                class: 'error',
                                                                message: 'Произошла ошибка при обработке данных! Смотрите консоль браузера для подробностей!'
                                                            })
                                                        ;
                                                    }
                                                }

                                                if (data.success) {
                                                    $(parent).remove();
                                                    $('body')
                                                        .toast({
                                                            displayTime: 'auto',
                                                            showProgress: 'top',
                                                            classProgress: 'white',
                                                            class: 'success',
                                                            message: 'Отправление было успешно удалено!'
                                                        })
                                                    ;
                                                } else {
                                                    console.log(data);
                                                    $('body')
                                                        .toast({
                                                            displayTime: 'auto',
                                                            showProgress: 'bottom',
                                                            classProgress: 'white',
                                                            class: 'error',
                                                            message: 'Произошла ошибка при обработке данных! Смотрите консоль браузера для подробностей!'
                                                        })
                                                    ;
                                                }
                                            }
                                        });

                                        hideLoading();
                                    }
                                },
                                abbrechen: {
                                    text: 'Отмена',
                                    btnClass: 'ui button red',
                                    keys: ['esc'],
                                    action: function () {
                                        hideLoading();
                                    }
                                },
                            }
                        });
                        break;

                    case 'send':
                        $.confirm({
                            title: '{% trans %}Отправить в телеграм: {% endtrans %}' + title,
                            theme: 'supervan',
                            useBootstrap: false,
                            content: "Подтвердите отправку новости в телеграм! После успешного отправления, новость удалится из списка ожидания на отправку!",
                            buttons: {
                                send: {
                                    text: 'Отправить',
                                    btnClass: 'ui button green',
                                    keys: ['enter'],
                                    action: function () {
                                        $.ajax({
                                            url: 'engine/ajax/controller.php?mod=maharder',
                                            data: {
                                                user_hash: '{{ dle_login_hash }}',
                                                module: 'telegram',
                                                file: 'master',
                                                method: 'send_cron_data',
                                                data: {
                                                    cron_id: id,
                                                    news_id: news_id,
                                                    type: type
                                                }
                                            },
                                            type: 'POST',
                                            success: function (data) {
                                                try {
                                                    data = JSON.parse(data);
                                                } catch (e) {
                                                    if (typeof (data) != 'object') {
                                                        console.log(data);
                                                        $('body')
                                                            .toast({
                                                                displayTime: 'auto',
                                                                showProgress: 'bottom',
                                                                classProgress: 'white',
                                                                class: 'error',
                                                                message: 'Произошла ошибка при обработке данных! Смотрите консоль браузера для подробностей!'
                                                            })
                                                        ;
                                                    }
                                                }

                                                if (data.success) {
                                                    $(parent).remove();
                                                    $('body')
                                                        .toast({
                                                            displayTime: 'auto',
                                                            showProgress: 'top',
                                                            classProgress: 'white',
                                                            class: 'success',
                                                            message: 'Новость была успешно отправлена в телеграм!'
                                                        })
                                                    ;
                                                } else {
                                                    console.log(data);
                                                    $('body')
                                                        .toast({
                                                            displayTime: 'auto',
                                                            showProgress: 'bottom',
                                                            classProgress: 'white',
                                                            class: 'error',
                                                            message: 'Новость не могла быть обработана!<br><b>Причина</b>: ' + data.message
                                                        })
                                                    ;
                                                }
                                            }
                                        });

                                        hideLoading();
                                    }
                                },
                                abbrechen: {
                                    text: 'Отмена',
                                    btnClass: 'ui button red',
                                    keys: ['esc'],
                                    action: function () {
                                        hideLoading();
                                    }
                                },
                            }
                        });
                        break;
                }
            });

            $('table .checkbox').checkbox({
                debug: true,
                onChange: function () {
                    let
                        $parentCheckBox = $('#crons'),
                        $childCheckbox = $parentCheckBox.parents('table').find('tbody').first().find('.checkbox'),
                        parentChecked = $parentCheckBox.parent().hasClass('checked'),
                        allChecked = false,
                        allUnchecked = true
                    ;

                    if (!parentChecked) {
                        $parentCheckBox.checkbox('uncheck');
                        $childCheckbox.checkbox('uncheck');
                        $parentCheckBox.checkbox('set unchecked');
                        $childCheckbox.checkbox('set unchecked');
                    } else {
                        $parentCheckBox.checkbox('check');
                        $childCheckbox.checkbox('check');
                        $parentCheckBox.checkbox('set checked');
                        $childCheckbox.checkbox('set checked');
                    }

                    $childCheckbox.each(function () {
                        if ($(this).parent().hasClass('checked')) {
                            allUnchecked = false;
                        } else {
                            allChecked = false;
                        }
                    });

                    if (allChecked) {
                        $parentCheckBox.checkbox('set checked');
                        $parentCheckBox.checkbox('check');
                    } else if (allUnchecked) {
                        $parentCheckBox.checkbox('set unchecked');
                        $parentCheckBox.checkbox('uncheck');
                    } else {
                        $parentCheckBox.checkbox('set indeterminate');
                        $parentCheckBox.checkbox('indeterminate');
                    }

                    console.table({
                        allUnchecked: allUnchecked,
                        allChecked: allChecked,
                        parentCheckBox: $parentCheckBox,
                        childCheckbox: $childCheckbox
                    })
                }
            });

            getNews();
        });
	</script>
{% endautoescape %}